.workday-summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;

  .date-label {
    font-size: 12px;
    font-weight: 400;
    color: #737373;
  }
}

.weekend {
  background-color: #f5f5f5;
}
