<mat-accordion>
  <mat-expansion-panel
    *ngFor="let workday of workdays; let index = index; trackBy: trackByIndex"
    [class.weekend]="workday.date | isWeekend"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="workday-summary">
        <div>
          <div>{{ workday.date | date: "dd/MM/yyyy" }}</div>
          <div class="date-label">{{ workday.date | date: "EEEE" }}</div>
        </div>
        <div>
          <span *ngIf="workday.worked">
            {{ workday.totalWorkday | minutesToHours }}
          </span>
        </div>
        <app-over-time-display
          [overtime]="workday.overtime"
        ></app-over-time-display>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-workday-record-list
      [records]="workday.records"
      (editRecord)="editRecord($event, index)"
      (removeRecord)="removeRecord($event, index)"
    >
    </app-workday-record-list>
  </mat-expansion-panel>
</mat-accordion>
