.register-form {
    width: 100%;
    text-align: center;

    .register-actions {
        display: grid;
        grid-gap: 10px;
    }

    .content-container {
        width: 60%;
        margin: auto;
    }

    .button-toggle {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}