.register-form {
    width: 100%;
    text-align: center;

    .register-actions,
    .register-form-container {
        display: grid;
        grid-gap: 10px;
    }

    .content-container {
        width: 60%;
        margin: auto;
    }

    .date-display {
        font-size: 50px;
        padding-top: 10px;
    }

    .time-display {
        font-size: 30px
    }

    .button-toggle {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .last-record {
        font-size: 14px;
    }
}