<button mat-flat-button color="primary" (click)="addNewRecord()">
  Adicionar marcação
</button>
<div></div>
<div>
  <!--
    <button mat-button color="primary">
        <span class="iconed-label">
            <i class="fas fa-cogs"></i>
            <span>Configurações</span>
        </span>
    </button>
    <button mat-button color="primary">
        <span class="iconed-label">
            <i class="fas fa-cloud-upload-alt"></i>
            <span>Importar</span>
        </span>
    </button>
    <button mat-button color="primary">
        <span class="iconed-label">
            <i class="fas fa-cloud-download-alt"></i>
            <span>Exportar</span>
        </span>
    </button>
    -->
</div>
