@import "src/assets/styles/_colors";

.stats {
  border-bottom: 3px solid;
  border-radius: 4px;
  text-align: right;
  padding: 10px 15px;

  &.success {
    border-color: $success;
  }

  &.default {
    border-color: $default;
  }

  &.danger {
    border-color: $danger;
  }

  .value {
    color: $default-dark;
    font-size: 22px;
    font-weight: 500;
  }

  .label {
    color: $default-dark;
    font-size: 14px;
  }
}
