<h3 class="title">Configurações</h3>

<form [formGroup]="configForm">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Carga horária diária</mat-label>
      <input formControlName="totalDailyTime" matInput required />
    </mat-form-field>
  </div>

  <div class="working-days-list">
    <h4>Dias de trabalho</h4>
    <span
      formArrayName="workingDays"
      *ngFor="let day of daysList.controls; let i = index"
    >
      <mat-checkbox [formControlName]="i">
        {{ workingDayList[i].label }}
      </mat-checkbox>
    </span>
  </div>

  <button
    mat-flat-button
    color="primary"
    (click)="save()"
    [disabled]="configForm.invalid"
  >
    Salvar
  </button>
</form>
