<section>

    <div>
        <span>{{ currenteDatetime | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div>
        <span>{{ currenteDatetime | date: 'HH:mm:ss' }}</span>
    </div>

    <button mat-stroked-button class="check-button" [disabled]="saving" (click)="register(currenteDatetime)">
        <i class="material-icons md-18">fingerprint</i>
    </button>
</section>

<hr />
<section>
    <ul>
        <li *ngFor="let record of records">{{ record | date: 'dd/MM/yyyy HH:mm'}}</li>
    </ul>
</section>