.actions {
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.workday-summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.workday-record {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
}