<section>
    <section class="row actions">
        <button mz-button (click)="createNewRecord()">
            <i mz-icon-mdi [align]="'left'" icon="plus"></i>
            <span>Adicionar</span>
        </button>
    </section>

    <section class="row">
        <mz-collapsible [mode]="'expandable'">
            <mz-collapsible-item [active]="isActive" *ngFor="let jornada of entryTimes">
                <mz-collapsible-item-header>
                    <section class="record-item">
                        <section>
                            <span>{{ jornada.date | date: 'dd/MM/yyyy' }}</span>
                        </section>
                        <section>
                            <span>{{ jornada.totalWorkDay }}</span>
                        </section>
                    </section>
                </mz-collapsible-item-header>
                <mz-collapsible-item-body>
                    <section class="time-entries" *ngFor="let entry of jornada.entries">
                        <div class="entry">
                            <span>{{ entry.entryType === 'IN' ? 'Entrada: ' : 'Saída: ' }}</span>
                            <span>{{ entry.time }}</span>
                            <span class="action">
                                <i mz-icon-mdi
                                    [align]="'right'"
                                    [icon]="'pencil'"
                                    [size]="'18px'">
                                </i>
                            </span>
                        </div>
                    </section>
                </mz-collapsible-item-body>
            </mz-collapsible-item>
        </mz-collapsible>
    </section>
</section>