.actions {
    padding: 20px 0;
}

.record-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.time-entries {
    .entry {
        padding: 7px 0;

        &:not(:last-child) {
            border-bottom: 1px solid #CCC;
        }

        .action {
            cursor: pointer;
            float: right;
            margin-right: 10px;
        }
    }
}