<section>
    <section class="actions">
        <button mat-flat-button color="primary" (click)="addNewRecord()">Adicionar marcação</button>
    </section>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let workday of workdays">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div>{{ workday.date | date: 'dd/MM/yyyy' }}</div>
                    <div>{{ workday.totalWorkday }}</div>
                    <div>{{ workday.overtime?.total }} - {{ workday.overtime?.usedAs }}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
        
            <ul>
                <li *ngFor="let record of workday.records">{{ record.datetime | date: 'HH:mm'}}</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</section>
