<section>
    <section class="row actions">
        <button mz-button (click)="createNewRecord()">
            <i mz-icon-mdi [align]="'left'" icon="plus"></i>
            <span>Adicionar</span>
        </button>
    </section>

    <section class="row">
        <mz-collection>
            <mz-collection-item>
                <section class="record-item">
                    <section>
                        <div>29/08/2019</div>
                        <div>Quinta</div>
                    </section>
                    <section class="time-entries">
                        <div class="entry">
                            <i mz-icon-mdi icon="arrow-top-right"></i>
                            <span>07:24</span>
                        </div>
                        <div class="entry">
                            <i mz-icon-mdi icon="arrow-bottom-left"></i>
                            <span>17:30</span>
                        </div>
                    </section>
                    <section>
                        <span>08:48</span>
                    </section>
                    <section class="actions">
                        <i mz-icon-mdi icon="dots-vertical"></i>
                        <!-- <button mz-button [flat]="true" [float]="true">
                            <i mz-icon-mdi icon="dots-vertical"></i>
                        </button> -->
                    </section>
                </section>
            </mz-collection-item>
        </mz-collection>
    </section>
</section>