:host {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;

    .time-picker-actions {
        width: 80px;
        align-self: center;
    }
}
