<!-- <mz-modal [fixedFooter]="true" class="time-entry-modal">
    <mz-modal-header>
        <h4>Nova marcação</h4>
    </mz-modal-header>
    <mz-modal-content>
        <form class="time-entry-form" [formGroup]="timeEntry" (ngSubmit)="saveRecord()" novalidate>
            <mz-select-container>
                <i mz-icon mz-input-prefix icon="arrow_drop_down_circle"></i>
                <select mz-select
                  id="options-select"
                  [label]="'Tipo de marcação'"
                  [placeholder]="'Selecione'"
                  formControlName="entryType"
                >
                    <option value="IN" selected>Entrada</option>
                    <option value="OUT">Saída</option>
                </select>
            </mz-select-container>

            <mz-datepicker-container class="col s12">
                <i mz-icon-mdi mz-input-prefix icon="calendar"></i>
                <input mz-datepicker
                    [options]="datepickerOptions"
                    id="datepicker"
                    formControlName="date"
                    label="Data"
                    placeholder="Selecione uma data"
                    type="text">
            </mz-datepicker-container>

            <mz-timepicker-container class="col s12">
                <i mz-icon-mdi mz-input-prefix [icon]="'clock'"></i>
                <input mz-timepicker
                    [options]="timepickerOptions"
                    id="timepicker"
                    formControlName="time"
                    label="Horário"
                    placeholder="Selecione o horário"
                    type="text">
            </mz-timepicker-container>
        </form>
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Cancelar</button>
        <button mz-button (click)="saveRecord()" [disabled]="timeEntry.$invalid">Adicionar</button>
    </mz-modal-footer>
</mz-modal> -->
<h3>It works!</h3>
