@import 'src/assets/styles/_colors';

:host {
  .tag {
    font-size: 10px;
    padding: 4px;
    border-radius: 4px;

    &.default {
      background-color: $default;
      color: $default-dark;
    }

    &.success {
      background-color: $success;
      color: $success-dark;
    }

    &.danger {
      background-color: $danger;
      color: $danger-dark;
    }
  }
}
